name: ktlint

on:
   pull_request:
    branches: [ "main" ]

jobs:
  ktlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      #downloads and moves the ktlint to the folder
      - run: |
          curl -sSLO https://github.com/pinterest/ktlint/releases/download/1.0.1/ktlint && chmod a+x ktlint && sudo mv ktlint /usr/local/bin/
      - name: run ktlint

      #runs the command
        run: |
          ktlint -F
        continue-on-error: true
        
      - name: run ktlintCheck

      #runs the command
        run: |
           ktlint --reporter=checkstyle,output=build/ktlint-report.xml
        continue-on-error: true
      - uses: yutailang0119/action-ktlint@v3
        with:
          report-path: build/*.xml
        continue-on-error: false
